{% extends "base.html" %}

{% block content %}
  <section id="appview" class="row">
    <a class="#" id="refreshLoc" class="btn"><i class="icon-refresh"></i>Refresh</a>
    <dia clasa="span6">
      <ul id="facility-list" class="nav nav-tabs nav-stacked"></ul>
    </div>
    <div class="span6">
      <div id="map" class="well"></div>
    </div>
  </section>
{% endblock content %}

{% block templates %}

<script type="text/template" id="facilityListItem">
  <a>
  <h3><%= fac.name %></h3>
  <span class="score"><%= fac.latest_score %></span>
  <% if(fac.distance){ %>
  <span class="distance"><%= fac.distance %></span>
  <%
  }
  // different colors for score%
  // 'progress-success'
  // 'progress-warning'
  // 'progress-danger'
  var colorClass = 'progress-success'
  %>
  <div class="progress <%= colorClass %>"><div class="bar" style="width: <%= fac.latest_score%>%"></div></div>
  <% if(display_address){ %>
  <address><%= fac.address %></address>
  <% } %>
  </a>
</script>
  
<script type="text/template" id="facilityDetail">
  detail
</script>

{% endblock templates %}

{% block additional_js %}
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock additional_js %}