<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}WhereYourMouth.is{% endblock %}</title>
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Luke Crouch">

<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block head %}{% endblock head %}
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{% url home %}">WhereYourMouth.is</a>
        
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="{% url api_docs %}">API</a></li>
            <li><a href="#">Find Nearby Ratings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
    {% block footer %}
    <footer>
      <p>&copy; WhereYourMouth.is 2012</p>
    </footer>
    {% endblock %}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>')</script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  {% block additional_js %}{% endblock additional_js %}
</body>
</html>
