{% extends "base.html" %}

{% block title %}WhereYourMouth.is{% endblock %}

{% block content %}
    <div class="hero-unit">
      <h1>WhereYourMouth.is</h1>
      <p>Spend your money at clean and green restaurants.</p>
      {% comment %}
      {% if user.is_authenticated %}
        <div class="alert alert-success">
          <h3>Thanks for signing up, {{ user.first_name|default:user.username }}</h3>
        </div>
        <p>Your username is {{ user.username }} and your api key is {{ user.profile.api_key }}</p>
      {% else %}
        <p><a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}img/facebook_signin.png" /></a></p>
      {% endif %}
      {% endcomment %}
    </div>

    <hr class="soften"/>

    <div class="marketing">
        <h1>Contribute</h1>
        <div class="row">
            <div class="span12">
              {% if not user.is_authenticated %}
              <a id="browserid" alt="Sign in" href="#"><img src="https://browserid.org/i/sign_in_grey.png"/></a>
                <form method="POST" action="{% url browserid_verify %}">
                  {% csrf_token %}
                  {{ browserid_form.as_p }}
                </form>
              {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
