/* @override http://127.0.0.1:8000/static/css/styles.css */

body{
	padding-top: 60px;
}

#appview{
	
}

/*#map{
  width:750px; 
  height:475px;
}*/

.marketing h1{
  margin: 16px 0px 27px;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}

.marketing h3{
	text-align: center;
}

.marketing .deets{
	
}

.marketing .deets > div{
	min-height: 200px;
}

.facility-wrapper hr{
	clear: both;
}

.facility-wrapper h3{
	float: left;
}

.facility-wrapper .refresh{
	float: right;
	margin-bottom: 10px;
}

.facility-list address{
	margin-bottom: 0;
	margin-top: 6px;
}

.facility-list .progress{
	margin-bottom: 0;
	clear: both;
}

.facility-list h3{
	float: left;
}

.facility-list .score{
	float: right;
}

.facility-list a{
	color: inherit;
}

.facility-list .progress .bar,
.facility-list .progress{
	height: 6px;
}
