body{
	padding-top: 60px;
}

#appview{
	
}

/*#map{
  width:750px; 
  height:475px;
}*/

.marketing h1{
  margin: 16px 0px 27px;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}

.marketing h3{
	text-align: center;
}

.marketing .deets{
	
}

.marketing .deets > div{
	min-height: 200px;
}

.facility-wrapper hr{
	clear: both;
}

.facility-wrapper > h3{
	float: left;
  margin: 0;
}

.facility-wrapper .refresh{
	float: right;
	margin-bottom: 10px;
}

.facility-list address{
	margin-bottom: 0;
	margin-top: 6px;
}

.facility-list .progress{
	margin-bottom: 0;
	clear: both;
}

.facility-list h3{
	float: left;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 20px;
  font-transform: camel-case;
  line-height: 24px;
}

.facility-list .label{
	float: right;
  margin-left: 5px;
}

.facility-list a{
	color: inherit;
}

.facility-list .progress .bar,
.facility-list .progress{
	height: 6px;
}
